In [1]:
import numpy as np
import pandas as pd

In [2]:
tennis=pd.read_csv('tennis.csv')
tennis

     Outlook  Temp Humidity    wind play
0      Sunny   hot     high    weak   no
1      Sunny   hot     high  strong   no
2   overcast   hot     high    weak  yes
3       rain  mild     high    weak  yes
4       rain  cool   normal    weak  yes
5       rain  cool   normal  strong   no
6   overcast  cool   normal  strong  yes
7      Sunny  mild     high    weak   no
8      Sunny  cool   normal    weak  yes
9       rain  mild   normal    weak  yes
10     Sunny  mild   normal  strong  yes
11  overcast  mild     high  strong  yes
12  overcast   hot   normal    weak  yes
13      rain  mild     high  strong   no

In [5]:
ct_outlook=pd.crosstab(tennis['Outlook'],tennis['play'],margins=True)
ct_outlook

play      no  yes  All
Outlook
Sunny      3    2    5
overcast   0    4    4
rain       2    3    5
All        5    9   14

In [6]:
ct_temp=pd.crosstab(tennis['Temp'],tennis['play'],margins=True)
ct_temp

play  no  yes  All
Temp
cool   1    3    4
hot    2    2    4
mild   2    4    6
All    5    9   14

In [7]:
ct_humidity=pd.crosstab(tennis['Humidity'],tennis['play'],margins=True)
ct_humidity

play      no  yes  All
Humidity
high       4    3    7
normal     1    6    7
All        5    9   14

In [9]:
ct_wind=pd.crosstab(tennis['wind'],tennis['play'],margins=True)
ct_wind

play    no  yes  All
wind
strong   3    3    6
weak     2    6    8
All      5    9   14

In [10]:
ct_play=pd.crosstab(index=tennis['play'],columns="count",margins=True)
ct_play

col_0  count  All
play
no         5    5
yes        9    9
All       14   14

In [18]:
p_yes=ct_play.iloc[1,0]/ct_play.iloc[2,0]*ct_outlook.iloc[2,1]/ct_outlook.iloc[3,1]*ct_temp.iloc[0,1]/ct_temp.iloc[3,1]*ct_humidity.iloc[0,1]/ct_humidity[2,1]*ct_wind.iloc[0,1]/ct_wind.iloc[2,1]

print("The probability of tennis is",p_yes)
p_no=ct_play.iloc[0,0]/ct_play.iloc[2,0]*ct_outlook.iloc[2,0]/ct_outlook.iloc[3,0]*ct_temp.iloc[0,0]/ct_temp.iloc[3,0]*ct_humidity.iloc[0,0]/ct_humidity.iloc[2,0]*ct_wind.iloc[0,0]/ct_wind.iloc[2,0]
print('The probability of the tennis that cannot be played',p_no)
if(p_yes>p_no):
    print("The probabilty that the tennis will be played in the following day is high")
else:
    print("The probability that the tennis will not be played in the following day is very low")

KeyError: (2, 1)

In [ ]:
p_no=ct_play.iloc[]/ct_play.iloc[]*ct_outlook.iloc[]/ct_outlook.iloc[]*